:root {
    --body-padding: 2rem;
}

html, body, .container {
    height: 100%;
}

body {
    margin: 0;
    padding: var(--body-padding);
    height: calc(100vh - (var(--body-padding) * 2));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    aspect-ratio: 1/1;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

@media all and (orientation: portrait) {
    .board {
        width: 100%;
    }
}

@media all and (orientation: landscape) {
    .board {
        height: 100%;
    }
}

.square {
    width: 100%;
    height: 100%;
}

.square-black {
    background-color: #779455;
}

.square-white {
    background-color: #ebebd0;
}

.figure {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    background-position: center;
}