<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/game.css") }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
            integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Игра</title>
</head>
<body>
<div class="container">
    <div class="board">
        {% for i, row in board|enumerate %}
            {% for j, el in row|enumerate %}
                {% if (i + j) % 2 %}
                    {% set color = "square-white" %}
                {% else %}
                    {% set color = "square-black" %}
                {% endif %}

                <div class="square {{ color }}" id="{{ i }}{{ j }}">
                    {% if el %}
                        <div class="figure {{ el }}" id="{{ i }}{{ j }}"></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<script src="{{ url_for("static", filename="js/game.js") }}"></script>
</body>
</html>